.showcase{
    display: grid;
    grid-template-areas: 
        'header header header header header'
        'sidebar main main main main'
        'sidebar main main main main'
;
    gap: 10px;
}
.header{
    grid-area: header;
    height: 100px;
    background-color: blue;
}
.sidebar{
    grid-area: sidebar;
    background-color: blue;
}
.main{
    grid-area: main;
    background-color: blue;
}
/* ===================================== */
.content-header{
    position: fixed;
    width: 100%;
    padding: 10px 0 0 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-btn-catalog{
    position:relative;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 60px;
    height: 60px;
    left: -100px;
    z-index: 1000;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn__burger{
    width: 43px;
    height: 2px;
    background-color: #000000;
    border-radius: 5px;
    margin-left: 30px;
    /*box-shadow: 0 2px 5px rgba(255,101,47,2);*/
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 43px;
    height: 2px;
    background-color: #000000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before{
    width: 43px;
    transform: translateY(-10px);
}
.menu-btn__burger::after{
    width: 43px;
    transform: translateY(10px);
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
.content-catalog{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.catalog-tab{
    position: fixed;
    bottom: 0px;
    margin: 0px;
    height: 88.8%;
    border-right: 1px solid #D9D9D1;
    transition: all 1s ease;
    background-color: #FFF;
    /* overflow-x: hidden; */
}
.head-title{
    padding: 20px 0 0 15px;
    font-size: 20px;
    font-weight: 700;
    /* transition: all .5s ease-in; */
}
ul.tab-list{
    margin-top: 20px;
    margin-right: 20px;
}
.li-tab{
    padding: 8px;
    width: 250px;
    margin: 5px 0 5px 20px;
}
.li-tab:hover{
    padding: 8px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #F07C00;
    transition: all .5s ease;
}
a.tab-link{
    padding: 8px;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
}
a.tab-link:hover{
    color: #FFFFFF;
    transition: all .5s ease;
}
.active{
    padding: 8px;
    border-radius: 8px;
    background-color: #F07C00;
    transition: all .5s ease;
}
.active a{
    color:#FFFFFF;
}
.catalog-tab::-webkit-scrollbar {
    width: 2px;
  }
  
.catalog-tab::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.catalog-tab::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 1px solid #a9a9a9;
}
/* section content showcase */
section.catalog-showcase{
    margin: 20px 20px 20px 20px;
    width: 100%;
    left: 19%;
    display: block;
    align-items: center;
    justify-content: s;
}
.card-view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.decorated-card{
    margin: 100px 0px 0px 310px;
    height: 230px;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left,#0C1F26, #5B6569); 
    border-radius: 20px;
    transition: all .5s ease;
}
.card-light-text{
    margin: 40px 0 0 30px;
    font-weight: 300;
    font-size: .9rem;
    color: #FFF;
}
.card-head-text{
    margin: 10px 0 0 30px;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFF;
}
.card-tags{
    margin: 20px 0 0 30px;
    display: flex;
    align-items: center;
}
.tag{
    margin: 0 10px 0 0;
    padding: 5px 7px;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 7px;
    color: #FFFFFF;
    background: rgba(255, 255,255, .1);
}
.card-img img{
    height: 90%;
    width: auto;
}
.card-img:hover img{
    transform: translateY(-12px);
    transition: all .5s ease-in-out;
}
.square-card{
    margin: 100px 0 0 20px;
    padding: 30px;
    height: 230px;
    width: auto;
    background: #0C1F26; 
    border-radius: 20px;
    transition: all .5s ease;
}
.square-head-text{
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFF;   
}
.square-light-text{
    font-weight: 300;
    font-size: 1.0rem;
    color: #FFF;   
}
.product-grid{
    margin: 0 0 50px 310px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    align-items: flex-start;
    justify-content: start;
}
.product-card{
    /* margin-left: 40%; */
    margin-top: 20px;
    width: 330px;
    height: 210px;
    background-color: #f9f8f8;
    border: 1px solid #9A9A9A;
    border-radius: 20px;
    cursor: pointer;
}
.respo-img{
    height: 170px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.respo-img:hover{
    transform: translateY(-15px);
    transition: all .5s ease-in-out;
}
.product-text{
    margin: -5px 0 20px 20px;
    font-size: 1.0rem;
    font-weight: 600;
    text-transform: capitalize;
}